@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --panel-background: #060605;
    --panel-border: #a69a93;
    --panel-title: #e6e0bc;
    --info-accent: #d9a520;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.tribute-highlight {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    max-width: 100%;

    background-color: var(--panel-background);
}

.tribute-panel {
    display: flex;
    align-items: stretch;

    height: 80%;
    width: 90%;

    border: 2px solid var(--panel-border);
    border-radius: 8px;

    overflow: hidden;
}

#title {
    transform: rotate(180deg);
    writing-mode: vertical-lr;

    margin: 12px -2px;

    color: var(--panel-title);

    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.tribute-highlight .tribute-panel p {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: right;

    margin: 12px -10px;

    color: var(--panel-title);

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#img-div {
    margin: 0 0 0 auto;
}

#img-caption {
    display: none;
}

#image {
    display: block;

    min-height: 100%;
    max-width: 100%;

    margin: 0 auto;

    object-fit: cover;
    object-position: left;
    filter: grayscale(100%);
}

#tribute-info {
    height: 100vh;
    max-height: 100vh;
    width: 90vw;
    max-width: 800px;
    
    margin: 0 auto;
}

p {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

#tribute-info .occupation-info {
    padding-top: 8px;
    
    text-align: center;
}

#tribute-info .personal-info {
    padding: 32px 0;

    color: var(--info-accent);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 3em;
}

.signature {
    display: block;

    height: 64px;

    margin: 0 0 0 auto;
}

.tribute-external {
    width: 230px;

    margin: 0 0 0 auto;

    text-align: right;
    font-size: 0.8em;
}

#tribute-link {
    display: inline-block;
    position: relative;

    color: var(--info-accent);

    text-decoration: none;
}

#tribute-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--info-accent);
    transform-origin: bottom left;
    transition: transform 120ms ease-out;
}

#tribute-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
