@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.tribute-highlight {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    max-width: 100%;

    background-color: #060605;
}

.tribute-panel {
    display: flex;
    align-items: stretch;

    height: 80%;
    width: 90%;

    border: 2px solid white;
    border-radius: 8px;

    overflow: hidden;
}

#title {
    transform: rotate(180deg);
    writing-mode: vertical-lr;

    margin: 12px -2px;

    color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.tribute-highlight .tribute-panel p {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: right;

    margin: 12px -10px;

    color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#img-div {
    margin: 0 0 0 auto;
}

#img-caption {
    display: none;
}

#image {
    display: block;

    min-height: 100%;
    max-width: 100%;

    margin: 0 auto;

    object-fit: cover;
    object-position: left;
    filter: grayscale(100%);
}